
  
nav{
    background-color:grey;
    border: 5px solid black;
    
}
li{
    display: flex;
}

.dropdown{
    display: none;
}


#section {
    display:flex;
}


.dropdown:hover{
    background-color: black;
} 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1000px;
  }
li{
    position: relative;
}
img {
    display: block;
    width: 100px;
}